<div class="ms-auto">
  <ul class="list-unstyled">
    <li>
      <div class="dropdown pc-h-item">
        <a
          class="pc-head-link head-link-primary arrow-none me-0"
          href="https://github.com"
          target="_blank"
        >
          <i class="ti ti-brand-github"></i>
        </a>
          <div class="dropdown pc-h-item">
        <a
          class="pc-head-link head-link-primary arrow-none me-0"
          href="https://linkedin.com"
          target="_blank"
        >
          <i class="ti ti-brand-linkedin"></i>
        </a>
      </div>
      <div class="dropdown pc-h-item">
        <a
          class="pc-head-link head-link-primary arrow-none me-0"
          href="https://facebook.com"
          target="_blank"
        >
          <i class="ti ti-brand-facebook"></i>
        </a>
      </div>

      </div>


    </li>
    <li>
      <div class="dropdown pc-h-item" ngbDropdown>
        <a
          class="pc-head-link head-link-secondary dropdown-toggle arrow-none me-0"
          data-bs-toggle="dropdown"
          href="javascript:"
          ngbDropdownToggle
        >
          <i class="ti ti-bell"></i>
        </a>


        <div class="dropdown-menu dropdown-notification dropdown-menu-end pc-h-dropdown" ngbDropdownMenu>
  <div class="dropdown-header px-3 py-2 d-flex justify-content-between align-items-center">
    <h6 class="mb-0">Messages</h6>
    <span class="badge bg-primary">{{ chatMessagesList.length }}</span>
  </div>

  <ng-scrollbar style="height: calc(100vh - 215px);" visibility="hover">
    <div class="notification-list p-2">
      <div *ngIf="chatMessagesList.length === 0" class="no-messages">
      <i class="bi bi-chat-dots"></i>
      <p>You don’t have any messages yet</p>
    </div>
      <ng-container *ngFor="let message of chatMessagesList">
        <div class="notification-item mb-2" (click)="openChat(message.sender)">
          <div class="message-header">
            <small class="sender">From {{ message.sender.username }}</small>
          </div>
          <div class="message-content">
            <p>{{ message.content }}</p>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-scrollbar>
</div>




<div *ngIf="chatMessagePopUp" class="chat-window">
  <button (click)="closeChat()" class="btn-close">&times;</button>

  <!-- Zone des messages avec scroll -->
  <div class="messages-container">
    <div *ngFor="let msg of conversationMessages"
        [ngClass]="{'my-message': msg.sender.id === Auth.userId,
                    'other-message': msg.sender.id !== Auth.userId}"
        class="message-item">
      <strong>{{ msg.sender.username }}:</strong> {{ msg.content }}
    </div>
  </div>

  <!-- Input pour envoyer un message -->
  <div class="chat-input">
    <input [(ngModel)]="messageContent"
          type="text"
          class="message-input"
          placeholder="Type your message here"
          (keyup.enter)="sendMessage(selectedUserToSendMessage)">
    <button (click)="sendMessage(selectedUserToSendMessage)" class="send-button">Send</button>
  </div>
</div>



      </div>
    </li>
    <li>
      <div class="dropdown pc-h-item header-user-profile" ngbDropdown>
        <a
          class="pc-head-link head-link-primary dropdown-toggle arrow-none me-0"
          data-bs-toggle="dropdown"
          href="javascript:"
          ngbDropdownToggle
        >

          <div *ngIf="getUserImage(myprofileuser) as img">
          <img
            [src]="img.imageUrl"
            alt="user-image"
            class="user-avtar"
            style="width: 40px; height: 40px; object-fit: cover;"
          />
        </div>
          <span class="profile-initials-wrapper">
          <ng-container *ngIf="!getUserImage(myprofileuser)">
          <div class="initials-circle">
          {{ myprofileuser.firstname[0] }}{{ myprofileuser.lastname[0] }}
          </div>
          </ng-container>
          <i class="ti ti-settings ms-2"></i>
          </span>

        </a>
        <div class="dropdown-menu dropdown-user-profile dropdown-menu-end pc-h-dropdown" ngbDropdownMenu>
          <div class="dropdown-header">
            <p>You are logged in as</p>
            <h4>
              <span class="small text-bg-info"> 🔐 {{myprofileuser.firstname}} {{myprofileuser.lastname}} </span>
            </h4>

            <ng-scrollbar style="height: calc(100vh - 280px)" visibility="hover">
              <a [routerLink]="['/photoeditprofile']" class="dropdown-item d-flex align-items-center">
              <i class="ti ti-settings me-2"></i>
              <span>Account Profile</span>

              <!-- Badge d'alerte si pas d'image -->
              <span *ngIf="!getUserImage(myprofileuser)" class="profile-alert" title="Image de profil manquante">
              <i class="ti ti-exclamation-circle"></i>
              </span>
              </a>


              <a *ngIf="myprofileuser.role === 'EMPLOYEE'" [routerLink]="['/employeetasks']"
                class="dropdown-item">
                <i class="ti ti-clipboard-copy"></i>
                <span>Check your tasks</span>
              </a>
            <a href="#" (click)="logout()" class="dropdown-item">
              <i class="ti ti-logout"></i>
              <span>Logout</span>
            </a>
            </ng-scrollbar>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
